html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	
}
body { 
	min-height: 100%; 
	overflow: hidden;
	font-family: Tahoma, sans-serif; 
	font-size: 16px;
}

.searchForm {
    width: 100%;
	height: 60px;
	padding: 20px 0 20px 0;
}

/* cookie consent css added */
.c-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.c-ripple-circle-accept {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(47, 208, 74, 0.18);
}
.c-ripple.is-active .c-ripple-circle-accept {
  animation: a-ripple 0.4s ease-in;
}

.c-ripple-circle-checkedIn, .c-ripple-circle-configure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(93, 177, 251, 0.4);
}
.c-ripple.is-active .c-ripple-circle-checkedIn, .c-ripple.is-active .c-ripple-circle-configure {
  animation: a-ripple 0.4s ease-in;
}

@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
.switch {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50px;
  height: 23px;
  border-radius: 50px;
  background-color: white;
  padding: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16), 3px 3px 3px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
.switch .circle {
  width: 23px;
  height: 23px;
  background-color: #c3c3c3;
  border-radius: 50%;
  transform: translateX(1.7rem);
  background-color: #62d7b2;
}

.move-circle-right {
  animation: 0.5s moveCircleRight cubic-bezier(0.87, -0.41, 0.19, 1.44) forwards;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
}

.move-circle-left {
  animation: 0.5s moveCircleLeft cubic-bezier(0.87, 0.41, 0.19, 1.44) forwards;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
}

@keyframes moveCircleRight {
  0% {
    transform: translateX(0);
    background-color: #c3c3c3;
  }
  100% {
    transform: translateX(1.7rem);
    background-color: #62d7b2;
  }
}
@keyframes moveCircleLeft {
  0% {
    transform: translateX(1.7rem);
    background-color: #62d7b2;
  }
  100% {
    transform: translateX(0);
    background-color: #c3c3c3;
  }
}
.background-popup {
  position: fixed;
  background-color: black;
  width: 500%;
  height: 500%;
  top: 0;
  left: 0;
  opacity: 0.7;
  z-index: 6;
  transition-duration: 0.3s;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 95%;
  padding: 10px;
  border-radius: 12px;
  font-size: 1.25em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  word-wrap: break-word;
  text-align: justify;
  z-index: 7;
}
.popup section {
  margin: 0;
  padding: 10px;
}
.popup #contentPopupConsent:hover, .popup #configureSection:hover {
  box-shadow: 0 0 0 transparent;
}

.popup .content-popup-theme {
  text-align: left;
}
.popup .content-popup-theme:hover {
  box-shadow: 0 0 0 transparent;
}
.popup .content-popup-theme p {
  padding-right: 5px;
  padding-left: 5px;
  display: block;
  text-align: center;
}
.popup .buttonOk {
  color: black;
  background: transparent;
  padding: 9px 0.57em;
  -webkit-appearance: none;
  position: relative;
  display: block;
  margin: 0;
  vertical-align: middle;
  overflow: visible;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  border: 0;
  border-radius: 7px;
  user-select: none;
  transition: all 0.2s ease;
  outline: 0;
  cursor: pointer;
  margin-right: 2%;
  margin-left: auto;
}
.popup .buttonOk:hover {
  background: rgba(0, 0, 0, 0.08);
}
.popup p {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 1.2rem;
}
.popup .choice-container-buttons {
  display: flex;
  justify-content: space-around;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.popup .choice-container-buttons .c-button {
  padding: 9px 0.57em;
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  overflow: visible;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.5px;
  background: transparent;
  border: 0;
  border-radius: 1px;
  user-select: none;
  transition: all 0.2s ease;
  background: transparent;
  outline: 0;
}
.popup .choice-container-buttons .c-button:hover, .popup .choice-container-buttons .c-button:focus {
  text-decoration: none;
}
.popup .choice-container-buttons .c-button:not(:disabled) {
  cursor: pointer;
}
.popup .choice-container-buttons #btnAcceptAll {
  color: #24cc31;
}
.popup .choice-container-buttons #btnAcceptAll:hover {
  background: #F0F8FF;
}
.popup .choice-container-buttons #btnConfigure {
  color: #4285f4;
}
.popup .choice-container-buttons #btnConfigure:hover {
  background: #F0F8FF;
}
.popup .choice-container-buttons #btnSave {
  display: none;
  color: #4285f4;
}
.popup .choice-container-buttons #btnSave:hover {
  background: #F0F8FF;
}
.popup #configureSection {
  display: none;
}
.popup #configureSection table th {
  text-align: left;
}
.popup #configureSection table .text-switch {
    padding: 0 0 0 1rem;
    font-size: 19px;
    font-weight: 100;
}
.popup #configureSection table tr {
    display: block;
    padding: 4px;
}

@media only screen and (orientation: landscape) {

.tabs {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.tabs label {
	order: 1;
	dsplay: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	margin-right: 0.2rem;
	cursor: pointer;
	font-weight: bold;
	transition: background ease 0.2s;
	font-size: 1.5em;
	height: 30px;
}

.tab {
	font-size: 1.3em;
}	
.tabs .tab {
	order: 9;
	flex-grow: 1;
	width: 100%;
	height: 100%;
	display: none;
	padding: 20px;
	top: 0;
}

.tabs input[type="radio"] {
	display: none;
}


.tabs input[type="radio"]:checked + label + .tab {
	display: block;
	
}


input[type=search] {
    width: 97%;
    height: 40px;
    font-size: 16px;
	margin-left: 20px;
	margin-right:20px;
    padding: 0px 15px 0px 45px;
    border-radius: 6px;
    outline: none;
	font-family:  monospace;
	
}
input[type=search]::-ms-clear {display:none; width:0; height:0}
input[type=search]::-ms-reveal {display:none; width:0; height:0}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {display:none;}

.hintResults { font-size: 16px; outline: none; border: none; margin-top: 10px; margin-right: 10px; margin-left: 20px; cursor: pointer; visibility:none;}
.hintHelp { font-family: Tahoma, sans-serif; font-size: 12px; padding-top: 10px; padding-left: 5px; margin-left: 20px; }

.container {
	display: grid;
	grid-template-columns:  1fr ; 
	grid-template-rows: 100px 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"headerGrid"
		"mainGrid";
	height: 100vh;
	position: fixed;
	top:  0;
	left: 0;
	right:0;
	bottom:0;
}

.headerGrid {
	display: grid;
	grid-template-columns: 200px 1fr 100px;
	grid-template-rows: 80px 20px;
	gap: 0px 0px;
	grid-template-areas:
		"logoGrid searchGrid signinGrid";

}
.logoGrid { grid-area: logoGrid; margin-top: 15px; }
.dateGrid { grid-area: dateGrid; padding-left: 10px; padding-bottom: 5px;}
.searchGrid { grid-area: searchGrid;}
.signinGrid { grid-area: signinGrid; padding-left:18px; padding-top: 15px; cursor:pointer;}
.policyGrid { grid-area: policyGrid; text-align: center; font-size: 12px; position: relative;}
.leftGrid { grid-area: leftGrid;}
.mainGrid { grid-area: mainGrid; min-height:100%; overflow-y: auto;	overflow-x: hidden;}

.policyButton {
	text-decoration: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.policyDropdownList {
	display: none;
	position: absolute;
	right: 0;
	min-width: 160px;
	box-shadow: 0 8px 16px 8px rgba(0,0,0,0.2);
	z-index: 1;
}

.policyDropdownList button {
	min-width: 160px;
	padding: 12px 12px;
	text-decoration: none;
	border: none;
	display: block;
	cursor: pointer;
}

.policyGrid:hover .policyDropdownList {
	display: block;
}

.loginModal {
	width:300px;
	height:200px;
	border: 1px solid gray;
	box-sizing: border-box;
	margin:10px;
	display: hidden;
}


}
@media only screen and (orientation: portrait) {

input[type=search] {
    width: 97%;
    height: 40px;
    font-size: 16px;
	margin-left: 20px;
	margin-right:20px;
    padding: 0px 15px 0px 15px;
    border-radius: 6px;
    outline: none;
	font-family:  monospace;
	
}
input[type=search]::-ms-clear {display:none; width:0; height:0}
input[type=search]::-ms-reveal {display:none; width:0; height:0}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {display:none;}

.hintResults { font-size: 16px; outline: none; border: none; margin-top: 10px; margin-right: 10px; margin-left: 20px; cursor: pointer; visibility:none;}
.hintHelp { font-family: Tahoma, sans-serif; font-size: 12px; padding-top: 10px; padding-left: 5px; margin-left: 20px; }

.container {
	display: grid;
	grid-template-columns:  1fr ; 
	grid-template-rows: 100px 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"headerGrid"
		"mainGrid";
	height: 100vh;
	position: fixed;
	top:  0;
	left: 0;
	right:0;
	bottom:0;
}

.headerGrid {
	display: grid;
	grid-template-columns: 200px 1fr 100px;
	grid-template-rows: 80px 20px;
	gap: 0px 0px;
	grid-template-areas:
		"logoGrid searchGrid signinGrid"
		"dateGrid searchGrid policyGrid";

}
.logoGrid { grid-area: logoGrid; margin-top: 15px; }
.dateGrid { grid-area: dateGrid; padding-left: 10px; padding-bottom: 5px;}
.searchGrid { grid-area: searchGrid;}
.signinGrid { grid-area: signinGrid; padding-left:18px; padding-top: 3px; cursor:pointer;}
.policyGrid { grid-area: policyGrid; text-align: center; font-size: 12px; position: relative;}
.leftGrid { grid-area: leftGrid;}
.mainGrid { grid-area: mainGrid; min-height:100%; overflow-y: auto;	overflow-x: hidden;}

.policyButton {
	text-decoration: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.policyDropdownList {
	display: none;
	position: absolute;
	right: 0;
	min-width: 160px;
	box-shadow: 0 8px 16px 8px rgba(0,0,0,0.2);
	z-index: 1;
}

.policyDropdownList button {
	min-width: 160px;
	padding: 12px 12px;
	text-decoration: none;
	border: none;
	display: block;
	cursor: pointer;
}

.policyGrid:hover .policyDropdownList {
	display: block;
}

.loginModal {
	width:300px;
	height:200px;
	border: 1px solid gray;
	box-sizing: border-box;
	margin:10px;
	display: hidden;
}



}

@media (prefers-color-scheme: light) {

html { background-color: #f9f6ee; color: #36454f;}
.headerGrid {background-color: #e5e4e2	;}
input[type=search] { background-color: #fffff0; color: #36454f; border: solid #808080 2px;}
.hintResults { background-color: #add8e6; }
.hintResultsFirst { background-color: #9fe2bf; }
.dateColor {color: #0000ff; }
.policyDropdownList {background-color: #f1f1f1; }
.policyDropdownList button:hover { background-color: #ddd; color: #0000ff;}
.policyGrid:hover { background-color: #f1f1f1;}
.policyDropButton {color: #36454f;}
.signinSVG {fill: #36454f}
.signOutSVG {fill: #36454f; display: none;}
.logoGrid { background: url('https://thejobcenter.github.io/EmploymentAgency/res/header-light.png')  no-repeat;}
input[type=search] { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMzY0NTRmIiBkPSJNNTAwLjMgNDQzLjdsLTExOS43LTExOS43YzI3LjIyLTQwLjQxIDQwLjY1LTkwLjkgMzMuNDYtMTQ0LjdDNDAxLjggODcuNzkgMzI2LjggMTMuMzIgMjM1LjIgMS43MjNDOTkuMDEtMTUuNTEtMTUuNTEgOTkuMDEgMS43MjQgMjM1LjJjMTEuNiA5MS42NCA4Ni4wOCAxNjYuNyAxNzcuNiAxNzguOWM1My44IDcuMTg5IDEwNC4zLTYuMjM2IDE0NC43LTMzLjQ2bDExOS43IDExOS43YzE1LjYyIDE1LjYyIDQwLjk1IDE1LjYyIDU2LjU3IDBDNTE1LjkgNDg0LjcgNTE1LjkgNDU5LjMgNTAwLjMgNDQzLjd6TTc5LjEgMjA4YzAtNzAuNTggNTcuNDItMTI4IDEyOC0xMjhzMTI4IDU3LjQyIDEyOCAxMjhjMCA3MC41OC01Ny40MiAxMjgtMTI4IDEyOFM3OS4xIDI3OC42IDc5LjEgMjA4eiIvPjwvc3ZnPg==') left 5px center no-repeat;}
/* to change svg fill color goto https://base64encode.org and enter....

<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 512 512"><path fill="#36454f" d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/></svg>

and change the FILL option, encode and paste the code above and do the same for 'dark' mode in a light color below !!!!!

*/

input[type=search] {fill: blue;}
input[type=search]::placeholder {color: #36454f; opacity: 1;}
input[type=search]:-ms-input-placeholder {color: #36454f; opacity: 1;}
input[type=search]::-ms-input-placeholder {color: #36454f; opacity: 1;}
.policyDropdownList button { color: #36454f; }
.tabs input[type="radio"]:checked + label {background: #e5e4e2; color:blue;}
.popup { background: ivory;}

}

@media (prefers-color-scheme: dark) {

html { background-color: #71797e; color: #fffff0; }
.headerGrid {background-color: #818589; }
input[type=search] { background-color: #71797e; color: #7df9ff; border: solid #c0c0c0 2px;}
.hintResults { background-color: #36454f; color: #ff7f50; }
.hintResultsFirst { background-color: #36454f; color: #7df9ff;}
.dateColor {color: #00ffff; }
.policyDropdownList {background-color: #f1f1f1; color: #0000ff;}
.policyDropdownList button:hover { background-color: #ddd; color: #0000ff;}
.policyGrid:hover { background-color: #f1f1f1;}
.policyButton:hover {color: #0000ff;}
.policyDropButton {color: #0000ff;}
.signinSVG {fill: #fffff0;}
.signOutSVG {fill: #fffff0; display:none;}
.logoGrid { background: url('https://thejobcenter.github.io/EmploymentAgency/res/header-dark.png')  no-repeat;}
input[type=search] { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmYwIiBkPSJNNTAwLjMgNDQzLjdsLTExOS43LTExOS43YzI3LjIyLTQwLjQxIDQwLjY1LTkwLjkgMzMuNDYtMTQ0LjdDNDAxLjggODcuNzkgMzI2LjggMTMuMzIgMjM1LjIgMS43MjNDOTkuMDEtMTUuNTEtMTUuNTEgOTkuMDEgMS43MjQgMjM1LjJjMTEuNiA5MS42NCA4Ni4wOCAxNjYuNyAxNzcuNiAxNzguOWM1My44IDcuMTg5IDEwNC4zLTYuMjM2IDE0NC43LTMzLjQ2bDExOS43IDExOS43YzE1LjYyIDE1LjYyIDQwLjk1IDE1LjYyIDU2LjU3IDBDNTE1LjkgNDg0LjcgNTE1LjkgNDU5LjMgNTAwLjMgNDQzLjd6TTc5LjEgMjA4YzAtNzAuNTggNTcuNDItMTI4IDEyOC0xMjhzMTI4IDU3LjQyIDEyOCAxMjhjMCA3MC41OC01Ny40MiAxMjgtMTI4IDEyOFM3OS4xIDI3OC42IDc5LjEgMjA4eiIvPjwvc3ZnPg==') left 5px center no-repeat; }
input[type=search] {fill: #fffff0;}
input[type=search]::placeholder {color: #fffff0; opacity: 1;}
input[type=search]:-ms-input-placeholder {color: #fffff0; opacity: 1;}
input[type=search]::-ms-input-placeholder {color: #fffff0; opacity: 1;}
.policyDropdownList button { color: #fffff0; }
.tabs input[type="radio"]:checked + label {background: #818589; color:cyan;}
.popup { background: silver;}



}


